map-canvas {
  height: 100%;
  position: absolute; 
  top: 0; 
  bottom: -200px; 
  left: 0; 
  right: 0; 
  z-index: 0;
}

body
{
	background-color: rgb(255,255,255);
}

.name-box
{
	background: rgba(255,255,255,0.5);
	width:80%;
	min-width: 450px;
	padding:10px;
	margin: 10px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0px 0px 0px #999999;
	font-family: 'Roboto Condensed', sans-serif;
}

.content-experience
{
	background: rgba(255,255,255,0.5);
	width:80%;
	min-width: 500px;
	padding:10px;
	margin: 10px;
	margin-left:auto;
	margin-right:auto;
}

.content
{
	background: rgba(255,255,255,0.5);
	width:80%;
	min-width: 500px;
	padding:10px;
	margin: 10px;
	margin-left:auto;
	margin-right:auto;
}

.content-box
{
	background: rgba(99,97,99,0.0);
	width:80%;
	min-width: 500px;
	padding:10px;
	margin: 10px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0px 0px 0px #ffffff;
	
	transition-property:all;
	-moz-transition-property: all; /* Firefox 4 */
	-webkit-transition-property: all; /* Safari and Chrome */
	-o-transition-property: all; /* Opera */
	
	transition-duration: .15s;
	-moz-transition-duration: .15s; /* Firefox 4 */
	-webkit-transition-duration: .15s; /* Safari and Chrome */
	-o-transition-duration: .15s; /* Opera */
	
	transition-timing-function: linear;
	-moz-transition-timing-function: linear; /* Firefox 4 */
	-webkit-transition-timing-function: linear; /* Safari and Chrome */
	-o-transition-timing-function: linear; /* Opera */
	
	transition-delay: .0s;
	-moz-transition-delay: .0s; /* Firefox 4 */
	-webkit-transition-delay: .0s; /* Safari and Chrome */
	-o-transition-delay: .0s; /* Opera */
}

.content-box:hover
{
	background: rgba(99,97,99,0.0);
	width:80%;
	min-width: 500px;
	padding:10px;
	margin: 10px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0px 0px 0px #eeeeee;
}


.detailed-content-box-hidden
{
	display: none;
}

.detailed-content-box-visible
{
	display: inherit;
}

.signature-box
{
	float: right;
	display: inline;
	background: rgba(255,255,255,0.0);
	width:80%;
	min-width: 200px;
	padding:1px;
	margin: 1px;
	margin-left:auto;
	margin-right:auto;
	font-size: 10;
}

.signature-box-left
{
	float: right;
	width: 80%;
	font-family: 'Roboto Condensed', sans-serif;
}

.signature-box-right
{
	width: 20%;
	margin-left: 78%;
	font-family: 'Roboto Condensed', sans-serif;
}

.company-name-box
{
	width:80%;
	min-width: 200px;
	padding:5px;
	margin: 5px;
	margin-left:auto;
	margin-right:auto;
	font-size: 16;
	font-variant: small-caps;
	font-family: 'Roboto Condensed', sans-serif;
}


.years-box
{
	font-size: 52;
	vertical-align: bottom;
	font-family: 'Roboto Condensed', sans-serif;
}

.title-box
{
	display: block;
	width:100%;
	min-width: 200px;
	padding:1px;
	margin: 1px;
	margin-left:auto;
	margin-right:auto;
	font-size: 10;
	font-family: 'Roboto Condensed', sans-serif;
}

.main-points-box
{
	font-family: 'Roboto Condensed', sans-serif;
}

.experience-list
{
	font-size: 16;
}

#screenshots
{
}

#screenshots img
{
	display: inline-block;
	
	transition-property:all;
	-moz-transition-property: all; /* Firefox 4 */
	-webkit-transition-property: all; /* Safari and Chrome */
	-o-transition-property: all; /* Opera */
	
	margin: 0px;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-webkit-transition-duration: 0.225s;
	-moz-transition-duration: 0.225s;
	-o-transition-duration: 0.225s;
	
	box-shadow:0px 0px 12px rgba(0,0,0,0.84);
}

#screenshots img:hover
{
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-o-transform:scale(1.5);

	box-shadow:0px 0px 0px rgba(0,0,0,0.84);

	z-index: 10;
}

#screenshots ul li
{
	display: inline-block;
	margin: 0px;
}

#screenshots-pet img
{
	display: inline-block;
	
	transition-property:all;
	-moz-transition-property: all; /* Firefox 4 */
	-webkit-transition-property: all; /* Safari and Chrome */
	-o-transition-property: all; /* Opera */
	
	margin: 0px;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-webkit-transition-duration: 0.225s;
	-moz-transition-duration: 0.225s;
	-o-transition-duration: 0.225s;
	
	box-shadow:0px 0px 12px rgba(0,0,0,0.84);
}

#screenshots-pet img:hover
{
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-o-transform:scale(1.5);

	box-shadow:0px 0px 0px rgba(0,0,0,0.84);

	z-index: 10;
}

.experience-desc-box
{
	font-family: 'Homenaje', sans-serif;
	font-size: 10;
}

.header
{
	font-size: 48;
	vertical-align: bottom;
	
}

.left-pane, .right-pane
{
	width: 50%;
	float: left;
}
.left-pane
{
	padding-right: 5px;
}
.right-pane
{
	padding-left: 5px;
}

.contacts-box
{
	position: absolute;
	top: 400px;
	left: 2px;
	width: 150px;
	height: 400px;
	float: left;
	font-family: 'Roboto Condensed', sans-serif;
	opacity: 0.4;	
}

.petprojects-box
{
	position: absolute;
	top: 800px;
	left: 2px;
	width: 150px;
	height: 400px;
	float: left;
	font-family: 'Roboto Condensed', sans-serif;
	opacity: 0.4;	
}


.petprojects-box:hover
{
	opacity: 1;
}

.contacts-box:hover
{
	opacity: 1.0;
}

.contacts-box-contact
{
}
.contacts-box-contact:hover
{
	color:  #728bdc;
}

.contacts-box-contact-type
{
}

.right-side-effects
{
	position: absolute;
	right: 4px;
	top: 8px;
	float: right;
}

.total-experience-box
{
	position: absolute;
	top: 172px;
	left: 2px;
	float: left;
	font-family: 'Roboto Condensed', sans-serif;
	opacity: 0.4;
	font-size: 10;
}

.total-experience-box:hover
{
	opacity: 1;
}